.loading {
  text-align: center;
  font-size: 18px;
  color: #007bff;
  padding: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.error {
  text-align: center;
  color: #d9534f; /* Czerwony kolor dla błędu */
  font-size: 18px;
  padding: 20px;
  border: 1px solid #d9534f;
  border-radius: 8px;
  background-color: #f8d7da;
}
