services:
  db:
    container_name: db
    image: postgres:alpine
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root 
      POSTGRES_DB: coders_space
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./postgres-data:/var/lib/postgresql/data
    restart: always
  backend:
    restart: always
    container_name: backend
    build: ./coders-space-backend
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/coders_space
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root 
    labels:
      - "traefik.http.routers.backend.rule=Host(`backend.localhost`)"

  frontend:
    restart: always
    container_name: frontend
    build: ./coders-space-frontend
    depends_on:
      - backend
    labels:
      - "traefik.http.routers.frontend.rule=Host(`localhost`)"
  webserver:
    image: traefik:v3.1
    command:
      - "--api.insecure=true"
      - "--entrypoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--providers.docker"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  postgres-data:
