.modal {
  display: block;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #2C3639;
}

input, quill-editor, .custom-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #A27B5C;
  border-radius: 4px;
  background-color: #F2F2F2; /* Light background */
  color: #2C3639;
  font-size: 14px;
  box-sizing: border-box;
}

/* Styling for the select element */
.custom-select {
  appearance: none; /* Remove default select arrow */
  background-color: #F2F2F2;
  color: #2C3639;
  padding: 10px;
  border: 1px solid #A27B5C;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon points="0,0 10,10 20,0" fill="%232C3639"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.custom-select:hover, .custom-select:focus {
  border-color: #2C3639; /* Darken border on hover/focus */
}

button {
  background-color: #2C3639;
  color: #DCD7C9;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #A27B5C;
}
