div {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2c3639; /* ciemny szary */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #dcd7c9; /* jasny neutralny */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #dcd7c9; /* jasny neutralny */
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #3f4e4f; /* ciemny stalowy szary */
  border-radius: 5px;
  font-size: 16px;
  background-color: #3f4e4f; /* stalowy szary */
  color: #dcd7c9; /* jasny neutralny */
}

input:focus {
  border-color: #a27b5c; /* brązowy */
  outline: none;
  box-shadow: 0 0 8px rgba(162, 123, 92, 0.6); /* delikatny efekt focus */
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #a27b5c; /* brązowy */
  color: #dcd7c9; /* jasny neutralny */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #8b674e; /* ciemniejszy brązowy */
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #dcd7c9; /* jasny neutralny */
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

