button {
  background-color: #A27B5C !important; /* Brązowe tło */
  color: #DCD7C9 !important; /* Kremowy tekst */
  padding: 10px 20px;
  border: 2px solid #2C3639; /* Obramowanie w kolorze ciemnozielonym */
  border-radius: 5px; /* Zaokrąglone rogi */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3F4E4F !important; /* Ciemniejsze tło po najechaniu */
  color: #DCD7C9 !important; /* Jasny tekst po najechaniu */
}

button:focus {
  outline: none; /* Usunięcie domyślnej obramówki po kliknięciu */
}

