.tag-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Odległość między tagami */
}

.tag-label {
  font-size: 13px;
  color: #2C3639;
  background-color: #F2F2F2;
  padding: 2px 8px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  position: relative; /* Ustawienie do pozycjonowania ikon */
}

.edit-button, .delete-button {
  background: none;
  border: none;
  color: #888888;
  cursor: pointer;
  font-size: 12px;
  padding: 0 4px;
  margin-left: 4px;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s ease;
}

.edit-button:hover {
  color: #3F4E4F;
}

.delete-button:hover {
  color: #C0392B;
}
