.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--dark-bg);
  position: relative; /* Allows absolute positioning of the logo */
}

/* Center the logo */
.navbar .logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Login information styling */
.name-container {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  background-color: var(--medium-bg);
  border-radius: 4px;
}

.name-text {
  font-size: 0.85rem;
  color: var(--light-bg);
  font-weight: 600;
  margin: 0;
  padding-left: 0.5rem;
  border-left: 2px solid var(--accent-color);
  font-family: Arial, sans-serif;
}

/* Login buttons styling */
.login-buttons {
  display: flex;
  align-items: center;
}
