  .Publication {
    background-color: #DCD7C9;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }

  .Publication h1 {
    color: #2C3639;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .Publication p {
    color: #A27B5C;
    font-size: 18px;
    margin-bottom: 20px;
  }


.Publication .meta {
    background-color: #3F4E4F;
    padding: 1px;
    border-radius: 2px;
    color: #DCD7C9;
    font-size: 6px;
    line-height: 1.5;
  }

  .Publication .meta span {
    display: block;
    margin-bottom: 6px;
  }

  .Publication:hover {
    background-color: #3F4E4F;
    color: #DCD7C9;
  }

.actions {
  margin-top: 10px;
}

.edit-button, .remove-button {
  background-color: #2C3639;
  color: #DCD7C9;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.edit-button:hover, .remove-button:hover {
  background-color: #A27B5C;
}

.remove-button {
  background-color: #E74C3C;
}

.remove-button:hover {
  background-color: #C0392B;
}
