
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /* Choose your preferred theme */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal overflow */

}

:root {
  --dark-bg: #2C3639;
  --medium-bg: #3F4E4F;
  --accent-color: #A27B5C;
  --light-bg: #DCD7C9;
}
