
<div class="comment-card">
  <app-report [comment]="comment"></app-report>
  <a [routerLink]="['/p', clientName.clientName]">{{ clientName.clientName }}</a>
  <p class="comment-content">{{ comment.content }}</p>
    <app-reaction [comment]="comment"></app-reaction>
  <div class="comment-actions">
    @if(isItMine){
    <app-comment-form [commentData]="comment" (refreshList)="commentChanged()" ></app-comment-form>
    <button class="remove-button" (click)="remove() ">Remove</button>
    }
  </div>
</div>

