.modal {
  display: block;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #2C3639;
}

input, .custom-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #A27B5C;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #2C3639;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  background-color: #2C3639;
  color: #DCD7C9;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #A27B5C;
}

