<div class="profile-page" *ngIf="profileDetails">
  <h2>Profil użytkownika: {{ username }}</h2>

  <div class="profile-field">
    <label>Bio:</label>
    <span *ngIf="!editMode">{{ profileDetails.bio || 'Brak informacji' }}</span>
    <input *ngIf="editMode" [(ngModel)]="editableProfile.bio" />
  </div>

  <div class="socials">
    <div class="profile-field">
      <label>GitHub:</label>
      <span *ngIf="!editMode && profileDetails.githubUsername">
        <a [href]="'https://github.com/' + profileDetails.githubUsername" target="_blank">{{ profileDetails.githubUsername }}</a>
      </span>
      <input *ngIf="editMode" [(ngModel)]="editableProfile.githubUsername" placeholder="GitHub Username" />
    </div>

    <div class="profile-field">
      <label>GitLab:</label>
      <span *ngIf="!editMode && profileDetails.gitlabUsername">
        <a [href]="'https://gitlab.com/' + profileDetails.gitlabUsername" target="_blank">{{ profileDetails.gitlabUsername }}</a>
      </span>
      <input *ngIf="editMode" [(ngModel)]="editableProfile.gitlabUsername" placeholder="GitLab Username" />
    </div>

    <div class="profile-field">
      <label>X:</label>
      <span *ngIf="!editMode && profileDetails.xusername">
        <a [href]="'https://x.com/' + profileDetails.xusername" target="_blank">{{ profileDetails.xusername }}</a>
      </span>
      <input *ngIf="editMode" [(ngModel)]="editableProfile.xusername" placeholder="X Username" />
    </div>
  </div>

  <button *ngIf="!editMode && isItMine" (click)="toggleEditMode()">Edytuj profil</button>
  <button *ngIf="editMode && isItMine" (click)="saveProfile()">Zapisz</button>
  <button *ngIf="editMode && isItMine" (click)="toggleEditMode()">Anuluj</button>
</div>

<div *ngIf="!profileDetails" class="error">It looks like user with that name does not exist</div>
